[submodule "microblog-gateway"]
	path = microblog-gateway
	url = git@github.com:Echelon133/microblog-gateway.git
[submodule "microblog-auth"]
	path = microblog-auth
	url = git@github.com:Echelon133/microblog-auth.git
[submodule "microblog-backend"]
	path = microblog-backend
	url = git@github.com:Echelon133/microblog-backend.git
